extends layout

block content
  //p Welcome to #{title}

  link(href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css')

  #image
    img(src='/images/index_image.png', id="index_image")

  h1#title #{title}
  
  .ui.button#sign-in Sign in with Your Gmail

  .footer
    p Hack@Brown Project by
    p Tim Guo, Ze Li, Linda Chang & Chris Liu
    p © 2016