extends layout

block content
    link(href='https://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css')

    #image
        img(src='/images/setup_image.png', id="setup_image")

    #greeting
        h2 Hi, #{session.name}
        h2 What are you interested in?

    #event-type-box
        .ui.button#event-type Film Screening
        .ui.button#event-type Lectures & Seminars
        .ui.button#event-type Computer Science
        .ui.button#event-type Design
        .ui.button#event-type More

    h2 Or ... which of the following do you like?

    #event-list 
        .event


