body {
	background: #2895F1 !important;
	font-family: 'Quattrocento Sans', sans-serif !important;
	font-weight: 400;
}

h1 {
	letter-spacing: 4px;
	color: white;
	display:flex;justify-content:center;align-items:center;font-size:36px;
	font-weight: 700;
	margin-bottom: 50px;
}

input[type='text'] {
	height: 50px;
	width: 260px;
	font-size: 18pt;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #2895F1;
	color: white;
	margin-bottom: 25px;
	display: block;
	padding-left: 10px;
}

input[type='submit'] {
	font-weight: 700;
	background-color: white;
	height: 50px;
	width: 260px;
	border: 1px solid white;
	border-radius: 10px;
	color: #2895F1;
	font-size: 18pt;
}

#image {
	margin-left: auto;
	margin-right: auto;
	width:800px;
}

#index_image {
	height: 100%;
	width: 100%;
}

#sign-in {
	display:flex;justify-content:center;align-items:center;width:260px;font-size:18px;
	margin-left: auto;
	margin-right: auto;
	color: #2895F1;
	background: white;
}

.footer {
	margin-top: 100px;
	display:flex;justify-content:center;align-items:center;font-size:14px;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 25px;
}

p {
	margin: 0 !important;
	color: white;
}