body {
	background: #2895F1 !important;
	font-family: 'Quattrocento Sans', sans-serif !important;
	font-weight: 400;
}

h1 {
	font-family: 'Quattrocento Sans', sans-serif !important;
	letter-spacing: 4px;
	color: white;
	display:flex;justify-content:center;align-items:center;font-size:36px;
	font-weight: 700;
	margin-bottom: 50px;
}

h2 {
	color: white;
	display:flex;justify-content:center;align-items:center;font-size:36px;
}

#image {
	margin-left: auto;
	margin-right: auto;
}

#index_image {
	width: 800px;
}

#setup_image {
	width: 1500px;
}

#sign-in {
	font-family: 'Quattrocento Sans', sans-serif !important;
	font-weight: 400;
	display:flex;justify-content:center;align-items:center;width:260px;font-size:18px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background: #2895F1;
	border: 1px solid white;
	border-radius: 8px;
}

#sign-in:hover {
	color: #2895F1;
	background: white;
}

#event-type-box {
	text-align: center;
	position: relative;
	top: -80px;
	width: 750px;
	margin: auto;
	
	display: block;
	overflow: auto;
}


#event-type {
	color: white;
	background: #2895F1;
	margin-right: 25px;
	border: 1px solid white;
	margin-bottom: 40px;
}

#event-type:hover, #event-type.active {
	color: #2895F1;
	background: white;
	margin-right: 25px;
}

#greeting {
	position: relative;
	top: -150px;
}

#more-text {
	position: relative;
	top: -50px;
}

.footer {
	margin-top: 100px;
	display:flex;justify-content:center;align-items:center;font-size:14px;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 25px;
}

p {
	margin: 0 !important;
	color: white;
}